@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
}
a,
a:hover {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}

:root {
  --gray: #6c7ba8;
  --blue: #3f76fe;
}

.container {
  @apply max-w-[1200px] w-full mx-auto;
}
.text-primary {
  @apply text-[#6C7BA8] font-normal leading-normal;
}
